
ion-content {
  --background: url(../../assets/img/punjab_bg_login.png) 0 0/100% 100% no-repeat !important;
  background-color: #fff;
}

#logo {
 
  width: 250px;
  height: 50px;
  margin: 150px auto;
  
} 